.filter{
    display: flex;
    flex-direction: column;
    gap: 10px;
    h1{
        font-weight: 300;
        font-size: 24px;
    }

    .item{
        display: flex;
        flex-direction: column;
        gap: 2;
        font-weight: 600;
        font-size: 100px;

    }
    label{
        font-size: 10px;
    }
    input,select{
        width: 100px;
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 5px;
        font-size: 10px;
    }
    .top{
        input{
            width: 100%;
        }
        input{
            border: 1px solid black;
        }
    }
    .bottom{
        display: flex;
        justify-content: space-between;
        gap: 10px;
        
        button{
            width: 70px;
            height: 35px;
            padding: 0px;
            border: none;
            cursor: pointer;
            background-color: yellow;
            img{
                width: 25px;
                height:25px;
            }
        }
    }

}